:host {
    margin: 0 auto;
    max-width: 1280px;
    padding: 2rem;
    gap: 4rem;
    display: flex;
    flex-direction: column;
}

app-button {
    align-self: flex-start;
 }

 app-grid{
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
 app-lightbox {
    max-width: 400px;
    width: 34vw;
    height: auto;
    margin-bottom: auto;
}

p.media {
    width: 66%;
}



@media screen and (max-width: 768px) {
    .media {
        flex-direction: column;
        align-items: center;
    }

    app-lightbox {
        width: 100%;
        max-width: 300px;
    }
    
}