
<ng-container 
    *ngIf="person$ | async as person">
    <app-button (onClickRequest)="goBack($event)" ><span class="flex row gap-sm"><i icon class="fas fa-chevron-left fa-lg"></i>{{buttonText}}</span></app-button>
    <section class="subheader flex row space-between">
        <div class="details flex col gap-md">
            <h1 appCopyToClipboard>{{person.name}}</h1>
            <div class="data-points flex row gap-sm">
                <span>{{person.birthday}}</span>
                <span *ngIf="person.deathday"> <span>&#8212;</span> {{person.deathday}}</span>
                <span>&#8226;</span>
                <span>{{person.placeOfBirth}}</span>
            </div>

        </div>

    </section>
    <section class="media flex row gap-lg">
        <app-lightbox  [lightBoxOptions]="{images: [{url: person.profilePath , alt: person.name}]}"></app-lightbox>
        <p class="media">{{person.biography}}</p>    
    </section>

    <section>
        <h2>Filmography ({{person.starredIn.length}})</h2>
        <app-grid class="gap-lg">
            <app-small-card 
                *ngFor="let movie of person.starredIn" 
                [config]="createStarredInCardConfig(movie)">
            </app-small-card>
        </app-grid>
    </section>
    <section>
        <h2>Other involvements ({{person.workedOn.length}})</h2>
        <app-grid>
            <app-small-card 
                *ngFor="let movie of person.workedOn" 
                [config]="createOtherCardConfig(movie)">
            </app-small-card>
        </app-grid>
    </section>
</ng-container>


