:host{
    width: 100%; 
}

form {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

input {
    all: unset;
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline-start: 2rem;
    color: var(--button-active);
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    overflow: visible;
    text-overflow: ellipsis;
}

input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
}


input:focus {
    border-radius: 0px;
}
             
input:focus-visible::placeholder  {
    font-weight: 600;

}

.hidden {
    display: none;
}


.search-button-group-active {
    border-radius: 0px;
}


ul {
    display: none;
    flex-direction: column;
    
}

.display {
    display: flex;
}

.datalist-active {
    all: unset;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    transform: translate(0, -1px);
/*     max-height: 40vh;
    overflow-y: scroll; */
}

ul::after {
    content: "";
    height: 1rem;
    background-color: var(--white);
}


li {
    all: unset;
    color: var(--button-active);
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline: 2rem;
    cursor: pointer;
    transform: translate(0, -1px);
}

li:hover {
    background-color: var(--light-gray);
}

.option-disable:hover {
    cursor: text;
    background-color: var(--white);
}


@media screen and (max-width: 768px) {
    input {
        font-size: 0.8rem;
        padding-inline-start: 1rem;
    }

    input::placeholder {
        font-size: 1rem;
        font-weight: 500;
    }

    .search-button-group {
        padding-inline-end: 1rem;
    }
}

