:host{
    width: 100%; 
}

form {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

input {
    all: unset;
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline: 2rem;
    color: var(--button-active);
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    overflow: visible;
    text-overflow: ellipsis;
}

input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    input {
        font-size: 0.8rem;
    }

    input::placeholder {
        font-size: 1rem;
        font-weight: 500;
    }
}

input:focus {
    border-radius: 0px;
}




.hidden {
    display: none;
}

i {
    color: var(--primary);
    padding: 1rem;
    padding-inline-end: 2rem;
}


.close {
    color: var(--button-active);
}
.close:hover {
    cursor: pointer;
    
}

.search-button-group {
    display: flex;
    align-items: center;
    background: var(--white);
}

.search-button-group-active {
    border-radius: 0px;
}


ul {
    display: none;
}

.datalist-active {
    all: unset;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    transform: translate(0, -1px);
}

ul::after {
    content: "";
    height: 1rem;
    background-color: var(--white);
}


li {
    all: unset;
    color: var(--button-active);
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline: 2rem;
    cursor: pointer;
    transform: translate(0, -1px);
}

li:hover {
    background-color: var(--light-gray);
}

.option-disable:hover {
    cursor: text;
    background-color: var(--white);
}




