<form 
    action=""
    [ngClass]="{'input-active': inputIsActive && search.dirty}"
    >
    <div class="flex row">
        <input 
            id="search" 
            type="text" 
            placeholder="Search for movies or series..."
            [formControl]="search"
            list=""
            autocomplete="off"
            (focus)="onToggleFocus($event)"
            (blur)="onToggleFocus($event)"
            (keydown.enter)="hinderMouseDown($event)"
            (keyup.enter)="showExtended()" >
        <app-button-group 
            [searchIsDirty]="search.dirty" 
            (clearFormRequest)="clearForm()" 
            (showExtendedRequest)="showExtended()">
        </app-button-group>
    </div>
</form>

<ng-container *ngIf="queryResults$ | async as resultsObject; else loading">    
    <app-auto-complete
        *ngIf="inputIsActive"
        [resultsObject]="resultsObject"
        (hinderMouseDownRequest)="hinderMouseDown($event)"
        (resultClickRequest)="onResultClick($event)"
    >
    </app-auto-complete>

    <ng-container *ngIf="extendedResultsActive">
        <app-search-grid 
        #extendedList 
        tabindex="0"
        [resultsObject]="resultsObject" 
        (clickRequest)="onResultClick($event)">
        </app-search-grid>

        <app-paginator
            [numberOfPages]="resultsObject.totalPages"
            [currentPage]="resultsObject.currentPage"
            [numberOfResults]="resultsObject.totalResults"
            (onPageRequest)=requestPage($event)>
        </app-paginator>
    </ng-container>
</ng-container>

<ng-template #loading>
    <div [ngClass]="{'loading': inputIsActive && search.dirty}"></div>
</ng-template> 








