<article *ngIf="movie; else placeholder">
    <a href="movie/{{movie.id}}">
        <img src={{movie.poster}} alt="Hello">
    </a>
    <div class="content"> 
        <h5><abbr title="{{movie.title}}">{{movie.title | clampText:35}}</abbr></h5>
        <div class="details">
            <span>{{movie.voteAverage}}</span>
            <span>&#8226;</span>
            <span>{{movie.releaseDate}}</span>
        </div>

        <p>{{movie.synopsis | clampText:120}}</p>
        <app-button (onClickRequest)="showMovie()" text="Visa mer"></app-button>
    </div>
    
</article>

<ng-template #placeholder>
    Loading...
</ng-template>
