
<article  *ngIf="content">
    <a (click)="showContent()">
        <img src={{content.poster}} alt="Hello">
    </a>
    <div class="content"> 
        <h5><abbr title="{{content.title}}">{{content.title | clampText:35}}</abbr></h5>
        <div class="details">
            <span>{{content.voteAverage}}</span>
            <span>&#8226;</span>
            <span>{{content.date}}</span>
        </div>

        <p>{{content.synopsis | clampText:120}}</p>
        <app-button (onClickRequest)="showContent()" [text]=buttonText></app-button>
    </div>
    
</article>

<ng-template #placeholder>
    Loading...
</ng-template>


