
<article>
    <a [routerLink]="['/',content.stub, content.id]">
        <img src={{content.posterPath}}>
    </a>
    <div class="content"> 
        <h5><abbr title="{{content.title}}">{{content.title | clampText:35}}</abbr></h5>
        <div class="details">
            <span>{{content.voteAverage | roundNumbers}}</span>
            <span>&#8226;</span>
            <span >{{content.year }}</span>
        </div>

        <p>{{content.description | clampText:120}}</p>
        <a [routerLink]="['/',content.stub, content.id]" class="button">Show more</a>
    </div>
    
</article>

<ng-template #placeholder>
    Loading...
</ng-template>


