<ng-container *ngIf="(trendingMovies$ | async) as trendingMovies; else placeholder">
    <app-grid>
        <app-card *ngFor="let movie of trendingMovies.results" [content]="{
            title: movie.title,
            posterPath: movie.posterPath,
            voteAverage: movie.voteAverage,
            year: movie.releaseDate,
            description: movie.overview,
            id: movie.id,
            stub: 'movie'
        }"></app-card>
    </app-grid>
    <app-paginator
        [numberOfPages]="trendingMovies.totalPages"
        [currentPage]="trendingMovies.page"
        [numberOfResults]="trendingMovies.totalResults"
        (onPageRequest)=requestPage($event)>
    </app-paginator>
</ng-container>

<ng-template #placeholder>
    <app-grid>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </app-grid>
</ng-template>

