<ng-container *ngIf="(trendingSeries$ | async) as trendingSeries; else placeholder">
    <app-grid>
        <app-card *ngFor="let serie of trendingSeries.results" [content]="serie" ></app-card>
    </app-grid>
    <app-paginator
    [numberOfPages]="trendingSeries.totalPages"
    [currentPage]="trendingSeries.page"
    [numberOfResults]="trendingSeries.totalResults"
    (onPageRequest)=requestPage($event)>
</app-paginator>
</ng-container>

<ng-template #placeholder>
    <app-grid>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </app-grid>
</ng-template>