<ng-container *ngIf="trendingTvShows$ | async as trendingTvShows; else placeholder">
    <app-grid>
        <app-card *ngFor="let tvShow of trendingTvShows.results" [content]="{
            title: tvShow.name,
            posterPath: tvShow.posterPath,
            voteAverage: tvShow.voteAverage,
            year: tvShow.firstAirDate,
            description: tvShow.overview,
            id: tvShow.id,
            stub: 'tv'
        }" ></app-card>
    </app-grid>
    <app-paginator
    [numberOfPages]="trendingTvShows.totalPages"
    [currentPage]="trendingTvShows.currentPage"
    [numberOfResults]="trendingTvShows.totalResults"
    (onPageRequest)=requestPage($event)>
</app-paginator>
</ng-container>

<ng-template #placeholder>
    <app-grid>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </app-grid>
</ng-template>