<ng-container *ngIf="(trendingSeries$ | async) as trendingSeries; else placeholder">
    <app-grid>
        <app-card *ngFor="let serie of trendingSeries.results" [content]="{
            title: serie.name,
            posterPath: serie.poster_path,
            voteAverage: serie.vote_average,
            year: serie.first_air_date,
            description: serie.overview,
            id: serie.id,
            stub: 'tv'
        }" ></app-card>
    </app-grid>
    <app-paginator
    [numberOfPages]="trendingSeries.total_pages"
    [currentPage]="trendingSeries.page"
    [numberOfResults]="trendingSeries.total_results"
    (onPageRequest)=requestPage($event)>
</app-paginator>
</ng-container>

<ng-template #placeholder>
    <app-grid>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </app-grid>
</ng-template>