:host {
    all:unset;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border: 1px solid white;
    border-radius: 100px;
    color: var(--pill-color);

    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.18rem;
    font-size: 0.6rem;
}