li {
    all: unset;
    color: var(--button-active);
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline: 2rem;
    cursor: pointer;
    transform: translate(0, -1px);
}

li:hover {
    background-color: var(--light-gray);
}

ul {
   /*  display: none; */
   all: unset;
   display: flex;
    flex-direction: column;
    
}

.display {
    display: flex;
}

.datalist-active {
    all: unset;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    transform: translate(0, -1px);
/*     max-height: 40vh;
    overflow-y: scroll; */
}