:host {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: var(--round-corners);
    border-bottom-right-radius: var(--round-corners);
    overflow: hidden;
    background-color: var(--white);
}

ul {
    all: unset;
    display: flex;
    flex-direction: column;
}

ul::after {
    content: "";
    padding: 1rem;
    background-color: var(--white);
}

li {
    all: unset;
    color: var(--button-active);
    background-color: var(--white);
    padding-block: 1rem;
    padding-inline: 2rem;
    cursor: pointer;
}

li:hover {
    background-color: var(--light-gray);
}
