<ng-container *ngIf="castPerson as cast">   
    <div class="clip-circle">
        <img src="{{cast.profilePath}}">
    </div>
    <div class="info flex col gap-sm">
        <h5>{{cast.name}}</h5>
        as {{cast.character}}
    </div>
</ng-container>

<ng-container *ngIf="crewPerson as crew">   
    <div class="clip-circle">
        <img src="{{crew.profilePath}}">
    </div>
    <div class="info flex col gap-sm">
        <h5>{{crew.name}}</h5>
        {{crew.job}}
    </div>
</ng-container>
