

<ng-container *ngIf="lightBoxOptions.showAll && lightBoxOptions.images.length > 1; else single">
    <img 
        *ngFor="let image of lightBoxOptions.images let index = index"
        [src]="lightBoxOptions.images[index].url" alt="" (click)="openLightbox(index)">
</ng-container>
<ng-template #single>
    <img *ngIf="lightBoxOptions.images[0] else empty" [src]="lightBoxOptions.images[0].url" alt="" (click)="openLightbox()">
</ng-template>
<ng-template #empty>
    <span>No images</span>
</ng-template>


<div class="modal" [ngClass]="{'display': lightBoxOpen}">
    <span class="close" (click)="closeLightbox()">&times;</span>
    <div class="modal-content">
        <app-slide 
            *ngFor="let image of lightBoxOptions.images let index = index"
            [ngClass]="{'display': index === currentSlide }"
            [slideOptions]="{
            orderInLine: index + 1,
            slideLength: lightBoxOptions.images.length,
            url: image.url,
            alt: image.alt}">
        </app-slide>
        <a *ngIf="lightBoxOptions.images.length > 1" class="prev" (click)="previousSlide()">&#10094;</a>
        <a *ngIf="lightBoxOptions.images.length > 1" class="next" (click)="nextSlide()">&#10095;</a>
    
        <div class="caption-container">
            <p class="caption"></p>
        </div>
    </div>
</div>