header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-alt);
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
}

a {
    all: unset;
    padding: 1rem;
    background-color: var(--primary-alt);
    color: var(--text-color);
    transition: 0;
}

a:hover {
    background-color: var(--button-hover);
    cursor: pointer;
    transition: all var(--medium-fade), border-bottom 0s, margin-bottom 0s  ;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: -2px;

}


a:active, .active-link {
    background-color: var(--button-active);
    border-bottom: 2px solid var(--secondary);
    margin-bottom: -2px;
    cursor: pointer;
}


a:focus-visible {
    border-bottom: 2px solid var(--secondary);
    margin-bottom: -2px;
}


@media screen and (max-width: 768px) {
    
    ul {
        display: none;
    }

    ul.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        top: 51px;
        right:0px;
    }

    a:hover {
        background-color: var(--button-hover);
        cursor: pointer;
        /* transition: all var(--medium-fade), border-bottom 0s, margin-bottom 0s  ; */
        border: 0px;
        margin-bottom: 0;
        transition: 0s;
        border-left: 2px solid var(--secondary);
        margin-left: -2px;
    }

    a:active, .active-link {
        background-color: var(--button-active);
        border: 0px;
        margin-bottom: 0;
        transition: 0s;
        border-left: 2px solid var(--secondary);
        margin-left: -2px;
        cursor: pointer;
    }

    a:focus-visible {
        border: 0px;
        margin-bottom: 0;
        transition: 0s;
        border-left: 2px solid var(--secondary);
        margin-left: -2px;
    }

}


/* nav-icon-5 */
button{
    all: unset;
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  button span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  button span:nth-child(1){
    top:0px;
    left: 0px;
  }
  button span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
  }
  button span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  button:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  button:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  button:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  button.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  button.open span:nth-child(2){
    opacity:0;
  }
  button.open span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }
