header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secondary);
    align-items: center;

}

nav {
    display: flex;
    flex-direction: row;
}
a {
    all: unset;
    padding: 1rem;
    background-color: var(--secondary);
    color: var(--text-color);
}

a:hover {
    background-color: var(--background);
    cursor: pointer;
}

a:active {
    background-color: rgb(9, 90, 63);
    cursor: pointer;
}