header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-alt);
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
}

a {
    all: unset;
    padding: 1rem;
    background-color: var(--primary-alt);
    color: var(--text-color);
    transition: var(--medium-fade);
}

a:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

a:active, .active-link {
    background-color: var(--secondary-alt);
    cursor: pointer;
}