
ul {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 960px;
    margin: 0 auto;
}

li {
    all: unset;
    padding: 1rem;
    background-color: var(--button-hover);
    color: var(--button-active);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: var(--button-active);
    cursor: pointer;
}


img {
    max-width: 3rem;
    height: auto;
}

p {
    color: var(--secondary)
}