<ng-container class="" *ngIf="movie$ |async as movie; else placeholder">
    <app-button (onClickRequest)="goBack($event)" ><span class="flex row gap-sm"><i icon class="fas fa-chevron-left fa-lg"></i>{{buttonText}}</span></app-button>
    <section class="subheader flex row space-between">
        <div class="details flex col gap-md">
            <h1>{{movie.title}}</h1>
            <div class="data-points flex row">
                <span>{{movie.releaseDate}}</span>
                <span>&#8226;</span>
                <span>{{movie.runtime | minutesToHours}}</span>
            </div>
            <div class="genres flex row gap-sm" >
                <app-pill *ngFor="let genre of movie.genres">
                    {{genre.name}}
                </app-pill>
            </div>
        </div>
        <div class="misc flex row">
            <app-data-item>
                <ng-container caption>Average rating</ng-container>
                <i icon class="fas fa-star fa-lg"></i>
                <span text> {{movie.voteAverage}} / 10</span>
                <span subtext>{{movie.voteCount}} voters</span>
            </app-data-item>
            <app-data-item>
                <ng-container caption>popularty score</ng-container>
                <i icon class="fas fa-chart-line fa-lg"></i>
                <span text> {{movie.popularity}}</span>
            </app-data-item>
        </div>
    </section>
    <section class="media flex col gap-sm">
        <p>{{movie.synopsis}}</p>
        <div class="media flex row">
            <img src="{{movie.poster}}" alt="Movie poster">
            <app-video-player-component [videoId]=movie.videos[0].key>
            </app-video-player-component>
        </div>
    </section>


    <section class="credits">
        <h2>Credits</h2>
        <app-grid class="credits">
            <app-profile *ngFor="let castPerson of movie.credits" [castPerson]=castPerson></app-profile>
        </app-grid>
    </section>

</ng-container>

<ng-template #placeholder>
    Loading movie ...
</ng-template>

