<ng-container *ngIf="movie$ |async as movie; else placeholder">
    <div class="subheader">
        <div class="details">
            <h1>{{movie.title}}</h1>
            <div class="data points">
                <span>{{movie.releaseDate}}</span>
                <span>{{movie.runtime}}</span>
            </div>
        </div>
        <div class="misc">
            <div class="data-item">
                <caption>Imdb rating</caption>
                <span>Icon</span>
                <span>Rating</span>
                <span>No. of ratees</span>
            </div>
            <div class="data-item">
                <caption>Your rating</caption>
                <span>Icon</span>
                <span>Rate</span>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #placeholder>
    Loading movie ...
</ng-template>

