<nav class="flex row gap-lg center">
    <div class="flex col space-between gap-md" *ngIf="trendiestMovie$ | async as trendiestMovie">
        <a [routerLink]="[config.detailedMovieRoute, trendiestMovie.id]">
            <img [src]="trendiestMovie.posterPath" alt="">
        </a>
        <app-button (onClickRequest)="navigate(config.trendingMoviesRoute)">{{config.movieButtonTitle}}</app-button>
    </div>
    <div class="flex col space-between gap-md" *ngIf="trendiestTv$ | async as trendiestTv">
        <a [routerLink]="[config.detailedTvRoute, trendiestTv.id]">
            <img [src]="trendiestTv.posterPath" alt="">
        </a>
        <app-button (onClickRequest)="navigate(config.trendingTvRoute)">{{config.tvButtonTitle}}</app-button>
    </div>
</nav>