/* You can add global styles to this file, and also import other style files */

:root{
    --background: radial-gradient(87.93% 87.93% at 50% 50%, #116566 0%, #116466 0.01%, #165D5D 18.75%, #1A5554 35.94%, #1F4D4C 49.48%, #234543 67.71%, #283D3A 84.38%, #2C3531 100%), #2C3531;
    --primary: rgba(17, 100, 102, 1);
    --primary-alt: rgba(44, 53, 49);
    --button-hover: rgb(18, 41, 41);
    --button-active: rgb(10, 27, 27);
    --pill-background: rgb(255, 255, 255);
    --pill-color: rgb(255, 255, 255);
    --text-color: rgb(255, 255, 255);
    --secondary: rgb(255, 203, 154);
    --secondary-alt: rgb(217, 176, 140);
    --medium-fade: 0.5s;
    --white: rgb(255, 255, 255);
    --light-gray: rgb(204, 204, 204);
    --round-corners: 30px;
}
/* CSS RESET */
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
html, body {
    height: 100%;
}

html, span, i {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 1rem;
    line-height: 180%;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: var(--secondary);
}

h1 {
  margin-top: 0;
  font-size: clamp(calc(5.653rem * 0.5), calc(12px + 6.125vw), 5.653rem);
}

h2 {
    font-size: clamp(calc(3.998rem * 0.5), calc(12px + 4.5vw), 3.998rem);
}


h3 {
    font-size: clamp(calc(3.0rem * 0.5), calc(12px + 3.375vw), 3.0rem);
}

h4 {
    font-size: clamp(calc(2.25rem * 0.5), calc(12px + 2.55vw), 2.25rem);
}

h5{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.18rem;
    font-size: 0.6rem;
    color: var(--secondary);
}

body {
    background: var(--background);
    background-size: cover;
}


/* Utilility classes */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.gap-xs{
    gap: 0.33rem;
}
.gap-sm{
    gap: 0.5rem;
}

.gap-md {
    gap: 1.0rem;
}

.gap-lg {
    gap: 2.0rem;
}




